[submodule ".registry"]
	path = .registry
	url = https://github.com/sciviews/sciviews.r-universe.dev
	branch = HEAD
[submodule "SciViews"]
	path = SciViews
	url = https://github.com/SciViews/SciViews
[submodule "aurelhy"]
	path = aurelhy
	url = https://github.com/SciViews/aurelhy
[submodule "chart"]
	path = chart
	url = https://github.com/SciViews/chart
[submodule "data.io"]
	path = data.io
	url = https://github.com/SciViews/data.io
[submodule "data.trame"]
	path = data.trame
	url = https://github.com/SciViews/data.trame
[submodule "equatiomatic"]
	path = equatiomatic
	url = https://github.com/datalorax/equatiomatic
[submodule "exploreit"]
	path = exploreit
	url = https://github.com/SciViews/exploreit
[submodule "inferit"]
	path = inferit
	url = https://github.com/SciViews/inferit
[submodule "mlearning"]
	path = mlearning
	url = https://github.com/SciViews/mlearning
[submodule "modelit"]
	path = modelit
	url = https://github.com/SciViews/modelit
[submodule "pastecs"]
	path = pastecs
	url = https://github.com/SciViews/pastecs
[submodule "svBase"]
	path = svBase
	url = https://github.com/SciViews/svBase
[submodule "svDialogs"]
	path = svDialogs
	url = https://github.com/SciViews/svDialogs
[submodule "svDialogstcltk"]
	path = svDialogstcltk
	url = https://github.com/SciViews/svDialogstcltk
[submodule "svFast"]
	path = svFast
	url = https://github.com/SciViews/svFast
[submodule "svFlow"]
	path = svFlow
	url = https://github.com/SciViews/svFlow
[submodule "svGUI"]
	path = svGUI
	url = https://github.com/SciViews/svGUI
[submodule "svHttp"]
	path = svHttp
	url = https://github.com/SciViews/svHttp
[submodule "svMisc"]
	path = svMisc
	url = https://github.com/SciViews/svMisc
[submodule "svPkgdown"]
	path = svPkgdown
	url = https://github.com/SciViews/svPkgdown
[submodule "svSocket"]
	path = svSocket
	url = https://github.com/SciViews/svSocket
[submodule "svTidy"]
	path = svTidy
	url = https://github.com/SciViews/svTidy
[submodule "svUnit"]
	path = svUnit
	url = https://github.com/SciViews/svUnit
[submodule "tabularise"]
	path = tabularise
	url = https://github.com/SciViews/tabularise
